<nav class="navbar navbar-default">
  <div class="navbar-inner">
      <div class="navbar-hearder">
        <a class="navbar-brand" routerLink="">Naro POS</a>
      </div>
      <div class="nav" *ngIf="!isUserLogged()">
        <ul class="nav navbar-nav pull-right">
          <li><a routerLink="login">Login</a></li>
        </ul>
      </div>
      <div class="nav" *ngIf="isUserLogged()">
        <ul class="nav navbar-nav">
          <li [routerLinkActive]="['active']"><a routerLink="users">Users</a></li>
          <li [routerLinkActive]="['active']"><a routerLink="licenses">Licenses</a></li>
        </ul>
        <ul class="nav navbar-nav pull-right">
          <li class="pull-right"><a (click)="logout()">Logout</a></li>
        </ul>
      </div>
  </div>
</nav>