<div [ngBusy]="[onSaveUserSubscription]">
</div>

<div class="col-sm-6 col-sm-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      Change Password
    </div>
    <div class="panel-body">
      <form name="changePasswordForm" class="form form-horizontal" [formGroup]="changePasswordForm" (submit)="changePassword()">
        <div class="form-group">
          <div class="col-sm-2" style="text-align: center">
            <label for="password" class="control-label">Password</label>
          </div>
          <div class="col-sm-10">
            <input type="password" class="form-control" formControlName="password">
            <span class="help-block" *ngIf="!changePasswordForm.get('password').valid && changePasswordForm.get('password').touched">
              Password is required
            </span>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-2" style="text-align: center">
            <label for="repeatPassword" class="control-label">Repeat Password</label>
          </div>
          <div class="col-sm-10">
            <input type="password" class="form-control" formControlName="repeatPassword">
            <span class="help-block" *ngIf="!changePasswordForm.get('repeatPassword').valid && changePasswordForm.get('repeatPassword').touched">
              <p *ngIf="changePasswordForm.get('repeatPassword').errors['required']">Repeat Password is required</p>
              <p *ngIf="changePasswordForm.get('repeatPassword').errors['passwordsDontMatch']">Passwords do not match</p>
            </span>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12" style="text-align: center">
            <button type="submit" class="btn btn-primary" [disabled]="!changePasswordForm.valid">Change Password</button>
            <button type="reset" class="btn btn-danger">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>