<div [ngBusy]="[onSaveUserSubscription]">
</div>

<div class="col-sm-6 col-sm-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      Change Password
    </div>
    <div class="panel-body">
      <form name="changePasswordForm" class="form form-horizontal" [formGroup]="changePasswordForm" (submit)="changePassword()">
        <app-password-form [group]="changePasswordForm"></app-password-form>
        <div class="form-group">
          <div class="col-sm-12" style="text-align: center">
            <button type="submit" class="btn btn-primary" [disabled]="!changePasswordForm.valid">Change Password</button>
            <button type="reset" class="btn btn-danger">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>