<div [ngBusy]="[loadUsersSubscription,userSavedSubscription,deleteUserSubscription, userForm.loadRolesSubscription]">
</div>

<div class="col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      User List
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Active</th>
              <th>Roles</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <ng-template ngFor let-user [ngForOf]="users" let-i="index">
              <tr>
                <th scope="row">{{user.id}}</th>
                <td>{{user.name}}</td>
                <td>
                  <span *ngIf="user.active">
                    <span class="glyphicon glyphicon-ok"></span>
                  </span>
                  <span *ngIf="!user.active">
                    <span class="glyphicon glyphicon-remove"></span>
                  </span>
                </td>
                <td>
                  <span style="cursor:pointer" [ngClass]="getRolesCellClass(user.id)" data-toggle="collapse" [attr.data-target]="'#' + user.id"
                    (click)="showHideRoles(user)"></span>
                </td>
                <td>
                  <span *ngIf="isUserEditable(user)">
                    <a (click)="editUser(user)"><span class="glyphicon glyphicon-edit"></span></a>
                  <a mwlConfirmationPopover [title]="'Are you sure?'" [message]="'You are going to remove user. Do you want to continue'" (confirm)="removeUser(user)"><span class="glyphicon glyphicon-remove"></span></a>
                  </span>
                </td>
              </tr>
              <tr class="collapse" id="{{user.id}}">
                <td colspan="5">
                  <div class="panel panel-default">
                    <div class="panel-heading">Roles</div>
                    <div class="panel-body">
                      <div class="table-responsive">
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Name</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let role of user.roleList">
                              <th scope="row">{{role.id}}</th>
                              <td>{{role.name}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-6">
  <app-user-form #userForm></app-user-form>
</div>